.chats {
    margin: 0 20px 0 20px;
    max-width: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    padding-bottom: 5rem;
}

.userDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.gptDiv {
    width: 100%;
    text-align: left;
}

.gptDiv p {
    max-width: 75%;
    word-wrap: break-word;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
    word-wrap: break-word;
}

.hljs {
    border-radius: 14px !important;
    overflow-x: auto;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

@media (max-width: 768px) {
    .userMessage {
        max-width: 85%;
    }

    .gptDiv p {
        max-width: 90%;
    }
}